#header {
  padding         : 1rem 2rem;
  color           : #fafafa;
  display         : flex;
  justify-content : center;
  align-items     : center;
  height          : 10%;
}

#title {
  font-size       : 1.2rem;
  text-transform  : uppercase; 
}