h1, h2, h3, p, pre,
ul, blockquote, table {
  margin-bottom       : 1rem;
}
h1, h2, h3 {
  padding             : .5rem 0;
  border-bottom       : 1px solid #ccc; 
}
h1 {
  font-size           : 2rem;
  line-height         : 2.4rem;
}
h2 {
  font-size           : 1.6rem;
  line-height         : 2.2rem;
}
h3 {
  font-size           : 1.2rem;
  line-height         : 2rem;
}
p {
  line-height         : 1.6rem;
}
code {
  color               : #fff;
  background          : #333;
  padding             : .3rem;
}
pre {
  background          : #333;
  padding             : 1rem;
  margin              : 1rem 0;
  font-size           : 1rem;
  white-space         : pre-wrap;
}
pre code {
  background          : transparent; 
}
blockquote {
  border-left         : 1px solid #ca3a3c;
  padding             : 1rem 0 .1rem 1rem; 
}
table {
  width               : 100%;
}
th, td {
  border-bottom       : 1px solid #ddd;
  padding             : .5rem;
  text-align          : left;
}
th {
  border-bottom       : 1px solid #ca3a3c;
}
li {
  line-height         : 1.6rem;
  list-style-type     : square;
  margin-left         : 2rem;
  margin-bottom       : .5rem;
}
ul > li > ul > li {
  list-style-type     : circle;
}
ul > li > ul > li > ul > li {
  list-style-type     : square;
}
ul > li > ul > li > ul > li > ul > li {
  list-style-type     : circle;
}
ol > li {
  list-style-type     : decimal;
}